Repository Motonosuke/pnpm-feature-architect-template: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: pnpm run lint:prettier && git update-index --again

eslint:
  run: pnpm run lint:eslint && git update-index --again

chore: update lefthook to version 1.7.9
  package.json
  pnpm-lock.yaml
Due: prettier

fix: lockfile
  pnpm-lock.yaml
Due: none

feat: recoilに関するコードを削除
  package.json
  pnpm-lock.yaml
  src/components/Layouts/MainLayout.tsx
Due: prettier, eslint

feat: pagesRouterからappRouterへ
  biome.json
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/sitemap.ts
  src/constants/env.ts
  src/features/posts/components/Posts.tsx
  src/features/posts/hooks/useFetchPosts.ts
  src/features/posts/services/get-posts/converter.ts
  src/features/posts/services/get-posts/get-posts.ts
  src/features/posts/services/get-posts/service.ts
  src/libs/swr.ts
  src/page-components/home/HomePage.tsx
  src/page-components/home/index.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/types/any.ts
  src/utils/server-api-client.ts
  tsconfig.json
Due: prettier, eslint

feat: husky削除
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .ls-lint.yml
Due: none

Path conditions:
  prettier: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  eslint: any of: *.{js,jsx,ts,tsx}
